html,body,*{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: black;
}
h1{
    text-align: center;
    font-size: 50px;
    color: darkblue;
}

.header{
    color:orange;
    text-align: center;
    font-size: 5vw;
}
.container{
    display: flex;
    width: 90%;
    margin: 2rem auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}





.card{
    display:flex;
    background-color: white;
    margin: 3rem auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-size: 5vw;

    width: 25vw;
    height: auto;

    border-radius: 1cm;
    border: 2px solid silver;
    
}
@media(max-width:1500px){
    
    .card{
        width: 45%;
        
    }
}

@media (max-width:600px){
    .container{
        flex-direction: column;
        
    }
    .card{
        width: 100%;
        font-size: 10vw;
    }
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vw;
    width: 20vw;
    
}


@keyframes slide-in{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(120%);
    }
}

@keyframes slide-out{
    from{
        transform: translateX(90%)
    }
    to{
        transform: translateX(0%)
    }
    
}

#Batcard:hover{
    animation: slide-in 5s ease-in-out forwards;
}
#Batcard:not(:hover){
    animation: slide-out 2s ease-in-out backwards;
}

